body {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

.spin {
    -webkit-animation: spin 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: spin 1s; /* Firefox < 16 */
    -ms-animation: spin 1s; /* Internet Explorer */
    -o-animation: spin 1s; /* Opera < 12.1 */
    animation: spin 1s;
}

.anti-spin {
    -webkit-animation: anti-spin 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: anti-spin 1s; /* Firefox < 16 */
    -ms-animation: anti-spin 1s; /* Internet Explorer */
    -o-animation: anti-spin 1s; /* Opera < 12.1 */
    animation: anti-spin 1s;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 100;
   text-align: center;
}

.loading-box {
    margin: auto;
    width: 100px;
    height: 100%;
}

#loading-image {
    margin: auto;
    margin-left: -45px;
    top: 45%;
    width: 100px;
    z-index: 100;
    position: absolute;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-moz-keyframes anti-spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes anti-spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}
@keyframes anti-spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}

h1 {
    letter-spacing: 2px;
    margin-top: 10px;
}

h4 {
    letter-spacing: 3px;
    margin-bottom: 20px;
}


/*login styling*/

.h1-login {
    text-shadow: 4px 4px #4682b461;
    font-size: 80px;
    margin-bottom: -15px;
    margin-top: 0;
}

.h1-main-header {
    text-shadow: 2px 2px #4682b461;
    font-size: 40px;
}

.h4-login {
    font-size: 20px;
    text-shadow: 1px 1px #4682b461;    
}

.lbl-login-hidden {
    display: none;
}

.lbl-login-visible {
    display: block;
    color: red;
}

.lbl-create-account-hidden {
    display: none;
}

.lbl-create-account-visible {
    display: block;
    color: red; 
}

.lbl-setup-house-hidden {
    display: none;
}

.lbl-setup-house-visible {
    display: block;
    color: red; 
}

.lbl-new-component-hidden {
    display: none;
}

.lbl-new-component-visible {
    display: block;
    color: red; 
}

.login-body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4184ad+0,2aa3d3+23,0895db+78,32c3ef+100 */
    
    /*FF3.6-15, Chrome10-25,Safari5.1-6, W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+, IE6-9 fallback on horizontal gradient */ 
    /*background: -moz-linear-gradient(45deg, #4184ad 0%, #2aa3d3 23%, #0895db 78%, #32c3ef 100%);
    background: -webkit-linear-gradient(45deg, #4184ad 0%,#2aa3d3 23%,#0895db 78%,#32c3ef 100%);
    background: linear-gradient(45deg, #4184ad 0%,#2aa3d3 23%,#0895db 78%,#32c3ef 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4184ad', endColorstr='#32c3ef',GradientType=1 );*/

    background-image: url("/Images/home.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.login-form-container {
    text-align: center;
    background-color: #ffffffe8;
    margin: 4% auto;
    padding: 26px 3%;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
}

.create-account-form-container {
    text-align: center;
    background-color: #ffffffe8;
    margin: 6% auto;
    padding: 3%;
    width: 98%;
    max-width: 600px;
    border-radius: 10px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.btn-login {
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    background-color: #91c9ec99;
    border: 1px solid black;
    font-weight: bold;
    width: 90%;
    margin-top: 10px;
}

.btn-create {
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    font-weight: bold;
    width: 90%;
    margin-top: 10px;
}

.btn-create-disabled {
    background-color: gray;
}

.btn-create-enabled {
    background-color: #31708f66;
}

.input-login {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #0000003d;
    width: 80%;
}

.fa-login {
    width: 42px;
    height: 42px;
    margin-bottom: -16px;
    border: 1px solid #0000003d;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 13px;
    margin-right: -5px;
}


/*main page styling*/

.h1-main-page {
    width: 70%;
    white-space: normal;
    margin-bottom: 25px;
    margin-left: 16px;
}

.h4-devices {
    display: inline-block;
}

.p-component-main {
    font-weight: bold;
    display: inline-block;
}

.p-component-label {
    margin: 0;
}

.btn-sign-out {
    font-size: 20px;
    float: right;
    color: #808080c9;
    background-color: #ffffff00;
    border: none;
    margin-right: 4%;
    margin-top: 10px;
}

.btn-cog {
    margin-right: 5px;
}

.main-page-container {
    position: relative;
    background-color: #fffffffa;
    margin: 25px auto;
    margin-top: 3%;
    padding: 3%;
    width: 62%;
    min-width: 360px;
    max-width: 1100px;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0px 0px 8px 0px #8888885e;
}

.div-devices {
    margin-left: 15px;
    margin-bottom: 15px;
}

.component-card-div {
    margin-top: 10px;
}

.component-card {
    margin-bottom: 2%;
    background-color: #ffffffe8;
    min-width: 260px;
    max-width: 400px;
    min-height: 125px;
    padding: 3%;
    padding-top: 14px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px #8888885e;
}

.component-card:hover {
    box-shadow: 0px 0px 8px 0px #a3aeb5;
}

.component-card-slider {
    margin-bottom: 2%;
    background-color: #ffffffe8;
    min-width: 260px;
    max-width: 400px;
    min-height: 125px;
    padding: 6%;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px #8888885e;
}

.component-card-slider:hover {
    box-shadow: 0px 0px 8px 0px #a3aeb5;
}

.btn-component-switch {
    float: right;
    border-radius: 2px;
    padding: 5px;
    width: 50px;
/*    background-color: #31708f66;*/
    border: 1px solid black;
    font-weight: bold;
    height: 40px;
    margin-bottom: 3px;
}

.btn-component-switch:hover { 
    box-shadow: inset 0px -2px 12px 2px #4e86c34f; 
}

.btn-component-switch:active { 
    box-shadow: inset 0px -2px 12px 2px #4e86c34f; 
}

.btn-component-switch-settings:hover {
    box-shadow: inset 0px -2px 12px 2px #d4d4d44f; 
}

.btn-component-switch-settings:active {
    box-shadow: inset 0px -2px 12px 2px #d4d4d44f; 
}

.btn-component-save-cancel {
    border-radius: 2px;
    padding: 5px;
    width: 100%;
/*    background-color: #31708f66;*/
    border: 1px solid black;
    font-weight: bold;
    height: 40px;
    margin-bottom: 3px;
}

.btn-new-component {
    display: inline-block;
    border-radius: 10px;
    background-color: #91c9ec99;
    border: 1px solid black;
    margin-top: 10px;
    margin-right: 20px;
    height: 28px;
    padding: 0px 12px;
    letter-spacing: 2px;
}

.btn-new-component:hover {
    color: white;
    background-color: #57a1d4;
    text-decoration: none; 
}

.btn-new-component:active {
    color: white;
    background-color: #57a1d4;
    text-decoration: none; 
}

.btn-on {
    background-color: #91c9ec99;
}

.btn-off {
    background-color: #80808063;
}

.color-select {
    padding: 10px;
    margin-right: 0 !important;
    width: 70%;
    display: inline-block;
    margin-top: 4px;
    height: 42px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.color-caret {
    right: 45px;
    top: 18px;
    position: absolute;
}

.selects {
    background-color: white;
    height: 28px;
    margin-right: 16px;
}

.selects:hover {
    background-color: #fafaff;
}

.selects:active {
    background-color: #fafaff;
}

/*component settings*/

.h1-settings {
    letter-spacing: 0;
    margin-bottom: 25px;
}

.component-settings-form-container {
    text-align: center;
    background-color: #ffffffe8;
    margin: 5% auto;
    padding: 2%;
    width: 90%;
    min-width: 320px;
    max-width: 550px;
    border-radius: 10px;
}

.component-settings-card {
    padding: 20px;
    background-color: #ffffffe8;
    border-radius: 2px;
    box-shadow: 7px 8px 10px 0px #8888885e;
    margin: 0;
    margin-bottom: 10px;
}

.select-house {
    margin: 10px auto;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 10px;
    border: none;
    background: none;
}

.select-rooms {
    width: 100%;
    border-radius: 2px;
    height: 40px;
    margin: 5px 0;
    border: 1px solid #0000003d;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.btn-setting-option {
    width: 100%;
    margin: 5px 0;
}

.btn-save-appliance {
    background-color: #91c9ec99;
}

.btn-cancel {
    background-color: #80808063;
}

.special-row {
    padding: 0 2%;
}

/*house-settings*/

.house-settings-form-container {
    
}

.input-settings {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #0000003d;
    width: 60%;
}

.fa-settings-add-room {
    border: 1px solid #0000003d;
    padding: 13px;
    width: 40px;
    margin-left: -5px;
}

.fa-settings-remove-room {
    border: 1px solid #0000003d;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 13px;
    width: 40px;
    margin-left: -5px;
}

.btn-save-house {
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    background-color: #91c9ec99;
    border: 1px solid black;
    font-weight: bold;
    width: 90%;
    margin-top: 10px;
}

.btn-delete-house {
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    background-color: #80808063;
    border: 1px solid black;
    font-weight: bold;
    width: 90%;
    margin-top: 10px;
}

.btn-back {
    float: left;
    margin-top: 10px;
    margin-right: -30px;
    background-color: #c6e9ff;
    border-radius: 50%;
    padding: 5px;
    width: 45px;
    border: 1px solid black;
    font-weight: bold;
    height: 40px;
}

.harp-img {
    width: 120px;
}

button:focus {outline:0;}

path {
  fill: transparent;
}

.vertical-range {
/*
    width: 60px !important;
    margin-top: -68px;
    margin-left: 252px;
*/
    width: 82px !important;
    margin-left: -44px;
    margin-top: 28px;
    transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}

.special-slider-btns {
    margin-top: -50px;
    margin-left: 18px;
}

.temp-display {
    margin-top: -12px;
    display: block;
    text-align: center;
    font-size: 32px;
}

.temp-display-off {
    display: none;
}

.btn-temp:hover {
    box-shadow: inset 0px -2px 12px 2px #4e86c34f; 
}

.btn-temp:active {
    box-shadow: inset 0px -2px 12px 2px #4e86c34f; 
}

.btn-temp-left {
    margin-left: 15px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-temp-right {
    margin-left: -5px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-temp-selected {
    font-weight: bold;
    background-color: #91c9ec;
}

.btn-temp-not-selected {
    background-color: #cccccc;
}

.temp-container {
    float: right;
    border: 1px solid #0000002b;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 1px 3px 20px 1px #8888882e;
    width: 80px;
    height: 80px;
    margin-top: 3%;
    margin-right: 3%;
}

.temp-container-inside {
    position: relative;
}

.all-scenes-container {
    margin-bottom: 8px;
}

.scene-container {
    display: inline-block;
    width: fit-content;
    height: 35px;
    margin-left: 18px;
    margin-bottom: 12px;
}

.btn-scene-settings {
    height: 34px;
    margin-left: -6px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.scene-name {
    font-weight: bold;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 34px;
    margin-left: -4px;
    padding: 5px 10px;
    padding-right: 13px;
    letter-spacing: 2px;
}

.fa-setting-scene {
    font-size: 18px;
    color: gray;
}

.scene-green {
    background-color: #9ade4a;
}

.scene-green:hover {
    background-color: #9ee24d;
}

.scene-green:active {
    background-color: #9ee24d;
}

.scene-yellow {
    background-color: #ffd600;
}

.scene-yellow:hover {
    background-color: #fdde3e;
}

.scene-yellow:active {
    background-color: #fdde3e;
}

.scene-black {
    background-color: black;
    color: white;
}

.scene-black:hover {
    background-color: #292929;
}

.scene-black:active {
    background-color: #292929;
}

.scene-blue {
    background-color: #0a91c7;
}

.scene-blue:hover {
    background-color: #0b97d0;
}

.scene-blue:active {
    background-color: #0b97d0;
}

.scene-red {
    background-color: #e63c3c;
}

.scene-red:hover {
    background-color: #ef4343;
}

.scene-red:active {
    background-color: #ef4343;
}

.scene-orange {
    background-color: #ffa901;
}

.scene-orange:hover {
    background-color: #fdb21e;
}

.scene-orange:active {
    background-color: #fdb21e;
}

.fa-lightbulb {
    color: #ffa901;
    font-size: 28px;
}

.fa-lightbulb-on {
    color: #ffd801f2 !important;
}

.fa-plus-main {
    margin-left: 10px;
}

.fan-icon {
    width: 26px;
    margin-right: 13px;
}

.slider-icon {
    width: 32px;
    margin-top: -1px;
    margin-right: 13px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.slider-icon-flipped {
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.fa-thermometer-half {
    font-size: 24px;
    color: #000000a3;
}

.dropdown:hover .dropdown-content {display: block;}

.new-dropdown {
    display: block;
    color: black;
    padding: 8px 18px;
}

.new-dropdown:hover {
    color: white;
    background-color: #57a1d4;
    text-decoration: none;
}

.new-dropdown:first-child:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.new-dropdown:last-child:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.new-dropdown:active {
    color: white;
    background-color: #57a1d4;
    text-decoration: none;
}

.new-dropdown:first-child:active {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.new-dropdown:last-child:active {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.new-dropdown-menu {
    min-width: 100px;
    padding: 0;
    background-color: #91c9ec;
    border-radius: 10px;
}

.automate-div {
    margin: 15px auto;
    text-align: center;
}

.automate-checkbox {
    display: inline-block;
    margin-left: 5px !important;
}

.lbl-automate {
    display: block;
    font-weight: normal;
    font-size: 16px;
    margin-top: 22px;
    margin-bottom: 10px;
}

.lbl-choose-appliances {
    font-weight: normal;
    font-size: 16px;
    margin-top: 22px;
    margin-bottom: 10px;
    text-align: center;
}

.automate-error {
    text-align: center;
    color: red;
    font-size: 14px;
}

#automate-times {
    margin-bottom: 10px;
}

.timepicker {
    margin-bottom: 10px;
}

.display {
    display: block;
}

.dont-display {
    display: none;
}

.paint-brush {
    position: unset;
    margin-right: -5px;
    z-index: 100;
}

.scene-name-input {
    width: 70%;
}

.appliance-list-selector {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.ul-appliance-list {
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    list-style: none;
    background-color: #ffffffe8;
    box-shadow: 0px 0px 8px 0px #8888885e;
}

.li-appliance {
    margin: 1px 0;
    border-radius: 10px;
    padding: 5px 0;
}

.li-appliance:hover {
    cursor: pointer;
}

.input-time {
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    margin: 0;
    border: 1px solid #0000003d;
}

.appliance-selected {
    background-color: #bcdff4;
}
